p i {
  color: red;
}

.line{
  text-decoration: underline;
}

.links a{
  text-decoration: none;
}

a[href^="http://"] {
  color: red;
}

a{

  color: green
}

.line{
  color: grey
}

.odd .line{
  color: blue;
}

.odd i {
  text-decoration: underline;
}

a[href*=".com"] {
  text-decoration: underline;
  color: black;
}

.links a[href] {
  text-decoration: none;
}

p b {
  color: purple;
}

.even b {
  text-decoration: underline;
}


