@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
    url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-ThinItalic.woff2') format('woff2'),
    url('../fonts/Roboto-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.woff2') format('woff2'),
    url('../fonts/Roboto-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-MediumItalic.woff2') format('woff2'),
    url('../fonts/Roboto-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BlackItalic.woff2') format('woff2'),
    url('../fonts/Roboto-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Medium.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Black.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-MediumItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Italic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
    url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* reset */

body {
  font-family: 'Playfair Display', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1334px;
  margin: 0 auto;
  width: 1920px;
}

/* header */

.header-primary {
  background: #2b2b2b;
}

.header-primary ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
  line-height: 90px;
}

.header-primary ul {
  color: #e8e8e8;
  text-transform: uppercase;
}

.header-secondary-inner {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.header-secondary-inner .header-connect ul {
  display: flex;
}

.header-secondary-inner .header-connect ul li {
  margin-right: 20px;
}

.header-secondary-inner .header-controls ul li {
  color: #1b1927;
  float: right;
}

.header-controls {
  display: flex;
}

.header-controls ul {
  margin-left: 28px;
}

.header-controls ul li {
  margin-left: 20px;
}

.header-controls .header-search {
  border: 1px solid black;
}

.header-secondary {
  background: #1b1927 url(../images/banner.png) center center / cover no-repeat;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  font-weight: 300;
  height: 500px;
}

.header-secondary-inner {
  padding-top: 50px;
}

.product-tile-image {
  position: relative;
}

.product-tile-badge {
  position: absolute;
  right: 15px;
  top: 15px;
}

.product-tile-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 21px;
  margin-bottom: 10px;
}

.product-tile-pricing {
  text-align: center;
  font-size: 22px;
}

.catalog-ctas {
  display: flex;
  justify-content: center;
}

.catalog-ctas a button {
  border: 1px solid #2b2b2b;
  background-color: #ffffff;
  font-size: 22px;
  color: #2b2b2b;
  padding: 10px 17px;
  margin-top: 70px;
  margin-bottom: 50px;
}

/* header */

/* footer */

.footer {
  background: #e8e8e8;
}

.footer-inner {
  padding: 100px;
  font-size: 22px;
  color: #2b2b2b;
  line-height: 20px;
  text-align: left;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 176px;
  margin-right: 60px;
}

.footer-nav ul:last-child {
  margin-left: 160px;
}

.footer-nav ul li,
.footer-contact li {
  margin: 15px;
}

.footer-nav ul li:first-child,
.footer-contact li {
  margin-top: 0px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
}

.footer-newsletter .input-container {
  margin-bottom: 15px;
  margin-top: 15px;
}

.footer-newsletter .privacy-container {
  display: flex;
  flex-direction: row-reverse;
}

.privacy-container label {
  margin-left: 15px;
}

.privacy-container {
  margin-bottom: 15px;
}

.footer-newsletter button {
  width: 90px;
  padding: 5px 15px;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.footer-social li {
  margin: 10px;
}

.footer-connect .footer-social ul {
  display: flex;
}
/* footer */

/* homepage */

.product-tiles {
  display: flex;
}

.product-tiles li {
  margin-right: 24px;
}

.catalog-ctas a {
  text-align: center;
  border: 1px solid black;
  font-size: 22px;
  padding: 11px 18px;
}

.product-category-title {
  text-align: center;
  font-size: 35px;
  margin: 41px 0;
}

.product-tile-pricing {
  text-align: center;
  font-size: 22px;
  margin-bottom: 120px;
}

.home-content {
  display: flex;
  justify-content: space-between;
}

.home-content .home-content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 140px;
}

.home-content .home-content-text p {
  font-family: Roboto;
  font-weight: 300;
  margin-bottom: 70px;
  font-size: 22px;
  color: #2b2b2b;
  letter-spacing: 0.33px;
  line-height: 35px;
}

.home-content-text h1 {
  font-size: 44px;
  margin-bottom: 40px;
  font-family: 'Playfair Display';
}

/* homepage */
